body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background: url('images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow-y: scroll;
}

.header {
    background: rgba(255, 255, 255, 0.7)
}

#pokedex {
    font-size: 1.3vw;
}

.stats {
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 25px;
}

.pokedex-img {
    width: 30%;
    height: auto;
    margin: 5%;
}

.opaque {
    opacity: 0.5;
}